name: nodeci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: linux-latest

    steps:
    - uses: actions/checkout@v2
      with:
        lfs: 'true'
    - name: Setup
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install
      working-directory: ./impl
      run: npm install
    - name: Run Tests
      working-directory: ./impl
      run: npm test
    